<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>小小论坛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/my.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/myJs.js" type="application/javascript"></script>
</head>
<body style="background: #e0e1e6">
<nav class="navbar navbar-default boxShadow " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">小小论坛</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="menu" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">首页</a></li>
                <li><a href="/hottest">最热话题</a></li>
                <li><a href="/categories">站长文章</a></li>
                <li><a href="/commentsRecord">留言区</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user==null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>登陆</span>
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">登陆</a></li>
                        <li><a href="/sign_up">注册</a></li>
                    </ul>
                </li>


                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${session.username}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#myModal">个人信息</a></li>
                        <li><a href="/profile/myTopic">个人主页</a></li>
                        <li><a href="/publish">发起话题</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">退出登陆</a></li>
                    </ul>
                </li>

            </ul>
            </li>

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">个人信息</h4>
            </div>
            <div class="modal-body">
                <h2>用户名</h2>
                <h3 th:text="${session.username}"></h3>
                <h2>创建时间</h2>
                <h3 th:text="${session.create_time}"></h3>
                <h2>上次登陆</h2>
                <h3 th:text="${session.modified_time}"></h3>
                <h2>头像</h2>
                <div><img th:src="${session.avatar}" height="60" width="60"/></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button onclick="javascript:window.location.href='/logout'" type="button" class="btn btn-primary">退出登陆</button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin:30px">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="background:white">
        <div>
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现话题</h2>
        </div>
        <hr>
        <div class="media" th:each="topic:${pageDTO.getTopic()}">
            <div class="media-left">
                <a th:href="@{'/topicShow/'+${topic.getId()}}" style="color: #31b0d5">
                    <img class="media-object img-circle" th:src="${topic.getUser().getAvatar()}">
                </a>
            </div>
            <div class="media-body">
                <a href="javascript:void(0);" th:onclick="|viewCount(${topic.getId()})|" style="text-decoration: none;color: black"><h3 class="media-heading" th:text="${topic.getTitle()} " ></h3></a>

                <h5 th:text="${topic.getId()}"></h5>
                <h4 class="media-heading" th:text="${#strings.abbreviate(topic.getDescription(),40)}"></h4>
                <span class="text-find"><span th:text="${topic.getCommentCount()}"></span> 回复 · <span th:text="${topic.getViewCount()}"></span> 浏览 · <span th:text="${#dates.format(topic.getCreateTime(), 'yyyy-MM-dd HH:mm:ss')}"></span></span>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${pageDTO.isFirstButton()!=false}">
                    <a href="/?page=1" aria-label="Previous">
                        <span aria-hidden="flase"><<</span>
                    </a>
                </li>

                <li th:if="${pageDTO.isPrevButton()==true}">
                    <a th:href="@{/(page=${pageDTO.getCurrentPage()-1})}">
                        <span aria-hidden="false"><</span>
                    </a>
                </li>

                <li  th:each="pageIndex:${pageDTO.getPageShow()}" th:class="${pageIndex==pageDTO.getCurrentPage()}?'active':''"><a th:href="@{/(page=${pageIndex})}" th:text="${pageIndex}"></a></li>

                <li th:if="${pageDTO.isNextButton()==true}">
                    <a th:href="@{/(page=${pageDTO.getCurrentPage()+1})}">
                        <span aria-hidden="false">></span>
                    </a>
                </li>

                <li th:if="${pageDTO.isFinalButton()!=false}">
                    <a th:href="@{/(page=${pageDTO.getFinalPageIndex()})}" >
                        <span aria-hidden="false">>></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="background:white">
        <div>
            <h1>没啥好说的</h1>
            <h3>§随便写</h3>
            <h3>§随便写</h3>
            <h3>§随便写</h3>
        </div>
    </div>

</div>

</body>
</html>