<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/my.css">
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style="background: #9d9d9d">
<nav class="navbar navbar-default boxShadow " role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">a new blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="menu" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/">首页</a></li>
                <li><a href="/aboutMe">关于我</a></li>
                <li><a href="/categories">博客分类</a></li>
                <li><a href="/updateLog">更新</a></li>
                <li><a href="/community">讨论区</a></li>
                <li><a href="/commentsRecord">留言区</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user==null}" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>登陆</span>
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/login">登陆</a></li>
                        <li><a href="/sign_up">注册</a></li>
                    </ul>
                </li>


                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span th:text="${session.username}"></span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="modal" data-target="#myModal">个人信息</a></li>
                        <li><a href="/publish">发起话题</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">退出登陆</a></li>
                    </ul>
                </li>

            </ul>
            </li>

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">个人信息</h4>
            </div>
            <div class="modal-body">
                <h2>用户名</h2>
                <h3 th:text="${session.username}"></h3>
                <h2>创建时间</h2>
                <h3 th:text="${session.create_time}"></h3>
                <h2>上次登陆</h2>
                <h3 th:text="${session.modified_time}"></h3>
                <h2>头像</h2>
                <div><img th:src="${session.avatar}" height="60" width="60"/></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button href="/logout" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin:30px">
    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" style="background-color:lavender;">

        <div>
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true" th:text="${section}"></span></h2>
        </div>
        <hr>
        <div class="media" th:if="${pageDTO}!=null" th:each="topic:${pageDTO.getTopic()}">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" th:src="${topic.getUser().getAvatar()}">
                </a>
            </div>
            <div class="media-body">
                <h3 class="media-heading" th:text="${topic.getTitle()}"></h3>
                <h5 th:text="${topic.getId()}"></h5>
                <h4 class="media-heading" th:text="${#strings.abbreviate(topic.getDescription(),40)}"></h4>
                <span class="text-find"><span th:text="${topic.getComment_count()}"></span> 回复 · <span th:text="${topic.getView_count()}"></span> 浏览 · 21：23：12</span>
            </div>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li th:if="${pageDTO.isFirstButton()!=false}">
                    <a href="/?page=1" aria-label="Previous">
                        <span aria-hidden="flase"><<</span>
                    </a>
                </li>

                <li th:if="${pageDTO.isPrevButton()==true}">
                    <a th:href="@{/(page=${pageDTO.getCurrentPage()-1})}">
                        <span aria-hidden="false"><</span>
                    </a>
                </li>

                <li  th:each="pageIndex:${pageDTO.getPageShow()}" th:class="${pageIndex==pageDTO.getCurrentPage()}?'active':''"><a th:href="@{'/profile/'+${action}+'/?page='+${pageIndex}}" th:text="${pageIndex}"></a></li>

                <li th:if="${pageDTO.isNextButton()==true}">
                    <a th:href="@{/(page=${pageDTO.getCurrentPage()+1})}">
                        <span aria-hidden="false">></span>
                    </a>
                </li>

                <li th:if="${pageDTO.isFinalButton()!=false}">
                    <a th:href="@{/(page=${pageDTO.getFinalPageIndex()})}" >
                        <span aria-hidden="false">>></span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" style="background: white">
        <div><h5><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>导航栏：</h5></div>
        <div class="list-group">
            <a href="#" class="list-group-item active">我的话题</a>
            <a href="#" class="list-group-item">我关注的话题</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
        <div>
            <h5><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>热门推荐：</h5>

        </div>
    </div>

</div>

</body>
</html>