<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>注册</title>
    <link href="favicon.ico" rel="shortcut icon" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
</head>



<div class="modal-dialog" style="margin-top: 10%;">
    <div class="modal-content">
        <div class="modal-header">

            <h4 class="modal-title text-center" id="myModalLabel">注册</h4>
        </div>
        <a th:if="${session.wrongInfo!=null}" class="dropdown" th:text="${session.wrongInfo}"></a>
        <form action="/signup" method="post">
            <div class="modal-body" id = "model-body">
                <div class="form-group">

                    <input type="text" name="username" class="form-control" placeholder="用户名" autocomplete="off">
                </div>
                <div class="form-group">

                    <input type="password" name="password" class="form-control" placeholder="密码" autocomplete="off">
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">注册</button>
                </div>
            </div>
        </form>

    </div><!-- /.modal-content -->
</div><!-- /.modal -->

</body>
</html>
